

div{
    width:800px;
    background:lightgrey;
    text-align: center;
    padding:2px 0px;
    margin: 0 auto;
}

h1{
    background: black;
    color: white;
    padding: 8px;
    font-size: 14px;
    margin: 10px 10px 20px 10px;
}

p{
    font-size:12px;
}

.p1{
    background: rgb(255, 94, 0);
    color: purple;
    padding: 10px 3px;
    margin: 10px 10px 5px 10px;
    
}

.p2{
    background: rgb(255,94,0);
    color:green;
    padding: 10px 3px;
    margin: 5px 10px 5px 10px;
    
}

.p3{
    background: rgb(255,94,0);
    color: yellow;
    padding: 10px 3px;
    margin: 5px 10px 10px 10px;
}