/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

header{
    background: black;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-bottom: 6px solid;
    border-bottom-color: yellow;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    color: yellow;
}


nav a {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 8px;
}

h2 {
    background: lightgrey;
    height: 80px;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-style: italic;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagebg {
    background-image: url(../img/coworking.jpg);
    background-position: center;
    height: 600px;
}

.floating-content {
    back
}